.redes{
    display: inline;
    width: 18px;
    height: 18px;
    text-align: center;
}
.contactoWa{
    text-align: right;
    display: block;
    padding-right: 2rem;
    padding-bottom: 2rem;
}
.contactoWa div img{
    width: 3rem;
    height: auto;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
}
.contactoWa div img:hover{
    transform: scale(1.5,1.5);
}
a {
    color: black;
    text-decoration: none;
}